@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* used-fonts {
    font-family: 'Poppins', sans-serif;
    font-family: 'Playfair Display', serif;
} */

body {
    height: 100vh;
    background: #eeefe3;
    color: #2b2539;
    font-family: 'Poppins', sans-serif;
}
img{
    position: fixed;
    top: 10%;
    left: 40%;
    width:60%;
}
div{
    position: relative;
    left: 10%;
    top: 25%;
    width: 25%;
}
h1 {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: 8vh;
    text-transform: capitalize;
    font-variant: small-caps;
}
p {
    position: absolute;
    top: 25vh;
    font-size: 1.2em;
}
a {
    position: absolute;
    left: 0;
    top: 40vh;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 2vh 20%;
    border-radius: 4vh;
    background: #ffaa16;
    color: #14140f;
}
